<nav class="breadcrumbs" aria-label="Breadcrumb">
  <a href="{{ routes.root_url }}">Home</a>

  {% comment %} About Page {% endcomment %}
  {% if page.title == "About" %}
    <span> / </span>
    <span>{{ page.title }}</span>
  {% endif %}
</nav>
