<nav class="breadcrumbs" aria-label="Breadcrumb">
  <a href="{{ routes.root_url }}">Home</a>

  {% comment %} About Page {% endcomment %}
  {% if template contains 'page.about' %}
    <span> / </span>
    <span>About</span>
  {% endif %}
</nav>
