{% doc %}
  Outputs a icon. Options for size, image, clickable or not and open in new tab or not
{% enddoc %}

{% if block.settings.icon_url != blank %}
    <a href="{{ block.settings.icon_url }}"
    {% if block.settings.open_in_new_tab == true %}
        target="_blank"
    {% endif %}
    >
    {% render 'icon', icon: block.settings.icon_image, width: block.settings.width %}
    </a>
{% else %}

    {% comment %} Image / SVG here {% endcomment %}

{% endif %}

{% stylesheet %}
  
{% endstylesheet %}

{% schema %}
{
    "name": "Icon",
    "settings": [
        {
            "type": "image_picker",
            "id": "icon_image",
            "label": "icon Image"
        },
        {
            "type": "range",
            "id": "width",
            "label": "Size",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 32
        },
        {
            "type": "checkbox",
            "id": "url_options",
            "label": "Add Link",
            "default": false
        },
        {
            "type": "url",
            "id": "icon_url",
            "label": "Link",
            "visible_if": "{{ block.settings.url_options == true }}"
        },
        {
            "type": "checkbox",
            "id": "open_in_new_tab",
            "label": "Open in New Tab",
            "visible_if": "{{ block.settings.icon_url != blank }}",
            "default": true
        }
    ]
}
{% endschema %}