{% doc %}
  Outputs a Logo with a heading
{% enddoc %}

<div class="logo-heading">
<h1><a href="#" {{ block.shopify_attributes }}> {{ block.settings.text }} </a> </h1>
</div>

{% stylesheet %}
  .logo-heading {
    display: flex;
  }
{% endstylesheet %}

{% schema %}
{
    "name": "Logo Heading",
    "settings": [
        {
            "type": "text",
            "id": "logo_text",
            "label": "Text",
            "default": "Text"
        },
        {
            "type": "select",
            "id": "size",
            "label": "Size",
            "options": [
                {
                    "value": "h1",
                    "label": "Heading 1"
                },
                {
                    "value": "h2",
                    "label": "Heading 2"
                }
            ]
        }
    ],
    "presets": [{ "name": "Logo Heading" }] 
}
{% endschema %}