{% doc %}
  Outputs a Logo with a heading
{% enddoc %}

<h1>

</h1>

{% stylesheet %}
  
{% endstylesheet %}

{% schema %}
{
    "name": "Logo Heading",
    "tag": null,
    "settings": [
        {
            "type": "text",
            "id": "custom_button_text",
            "label": "Text",
            "default": "Text"
        },
        {
            "type": "select",
            "id": "font",
            "label": "Font",
            "options": [
                
            ]
        }
    ]
}
{% endschema %}