<div class="elfsight-sapp-2a2d0cd1-cdd7-45d6-81f9-20989df405fd page-width"></div>
{%- for block in section.blocks -%}
    {% case block.type %}
        {%- when 'button' -%}
            {%- if block.settings.button_label != blank -%}
            <h2>Latest Posts</h2>
            <div class="page-width">
                <a
                    {% if block.settings.button_link == blank %}
                    role="link" aria-disabled="true"
                    {% else %}
                    href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                    {{ block.shopify_attributes }}
                >
                    {{ block.settings.button_label | escape }}
                </a>
            </div>
            {%- endif -%}
    {%- endcase -%}
{%- endfor -%}

{% schema %} 
{
    "name": "3 Facebook Posts",
    "blocks": [
        {
            "type": "button",
            "name": "t:sections.image-with-text.blocks.button.name",
            "limit": 1,
            "settings": [
                {
                "type": "text",
                "id": "button_label",
                "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
                "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
                "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
                },
                {
                "type": "url",
                "id": "button_link",
                "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
                },
                {
                "type": "checkbox",
                "id": "button_style_secondary",
                "default": false,
                "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "3 Facebook Posts"
        }
    ]
}
{% endschema %} 
