<footer>
  <div class="footer__inner">
    {% comment %}
      this renders brand and sub-heading
    {% endcomment %}
    <div class="footer__brand">
      {% for block in section.blocks %}
        {% if block.type != 'icon' %}
          {% render block %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="footer__social-icons">
      {% for block in section.blocks %}
        {% if block.type == 'icon' %}
          {% render block %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="footer__links">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>
  <div class="footer__copyright">
    &copy;
    {{ 'now' | date: '%Y' }}
    {{ shop.name | link_to: routes.root_url }}, {{ powered_by_link }}
  </div>
</footer>

{% stylesheet %}
  .footer__inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  footer a {
    text-decoration: none;
    color: var(--color-foreground);
  }
  footer .footer__links,
  footer .footer__payment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer__social-icons{
    display: flex;
    gap: 1rem;
    align-items: center;
  }

    .footer__social-icons a {
    display: inline-flex;
    align-items: center;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Footer Menu"
    }
  ],
  "blocks": [{ "type": "@theme" }],
  "presets": [
    {
      "name": "Footer",
      "blocks": [{ "type": "logo-heading" }]
    }
  ]
}
{% endschema %}
